<div class="col-sm-12 margin-20-top">
  {{#if success_messages }}
    <div class="alert alert-success">{{success_messages}}</div>
  {{/if}}
  {{#if error_messages }}
    <div class="alert alert-danger">{{error_messages}}</div>
  {{/if}}
  </div>