<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB API</title>
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
      <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/now-ui-kit.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="index-page">
    <div class="container">
      {{> navbar}}
      {{{body}}}
      {{> footer}}
    </div>

    <script src="/js/jquery.3.2.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>